K
[
    {
        "id": "41eccfa4.14ca5",
        "type": "debug",
        "z": "117ca329.326bdd",
        "name": "Debug Account Log ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 630,
        "y": 100,
        "wires": []
    },
    {
        "id": "e1d5321.beb0ed",
        "type": "function",
        "z": "117ca329.326bdd",
        "name": "Account Log",
        "func": "var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ accessAt : new Date(), password : msg.payload.password})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 389.00000762939453,
        "y": 109.99999618530273,
        "wires": [
            [
                "41eccfa4.14ca5"
            ]
        ]
    },
    {
        "id": "8b7bec2a.2a6e4",
        "type": "function",
        "z": "117ca329.326bdd",
        "name": "Account Verification",
        "func": "var accounts =  flow.get(\"accounts\") || [ { password : \"0000\"}] ; \n\nvar password = msg.payload.password ; \n\nmsg.payload = 2;\n\naccounts.forEach(function ( account ){\n    if ( account.password == password ) {\n       msg.payload = 1;\n    }\n});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 160,
        "wires": [
            [
                "8c7af412.ab9818"
            ]
        ]
    },
    {
        "id": "8c7af412.ab9818",
        "type": "switch",
        "z": "117ca329.326bdd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 160,
        "wires": [
            [
                "c1319f8c.9fd68"
            ],
            [
                "8964f188.d6141"
            ]
        ]
    },
    {
        "id": "c1319f8c.9fd68",
        "type": "function",
        "z": "117ca329.326bdd",
        "name": "= 1 : Success",
        "func": "/ activate session timer /\nvar sessionTimer =  flow.get(\"sessionTimer\") || 1; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\n/ ui-control payload /\nmsg.payload = { group: {\n    show : [\"Dashboard_manager\", \"Dashboard_Back\"],\n    hide : [\"Dashboard_Manager\", \"Dashboard_Other_user\"]\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 140,
        "wires": [
            [
                "be638468.197868"
            ]
        ]
    },
    {
        "id": "8964f188.d6141",
        "type": "function",
        "z": "117ca329.326bdd",
        "name": "= 2 : Wrong Password",
        "func": "msg.payload = \"Invalid Password\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 180,
        "wires": [
            [
                "3be7cb4d.7d4a94"
            ]
        ]
    },
    {
        "id": "85316f9b.4319b",
        "type": "debug",
        "z": "117ca329.326bdd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 220,
        "wires": []
    },
    {
        "id": "516d6abb.2077d4",
        "type": "function",
        "z": "117ca329.326bdd",
        "name": "frist page",
        "func": "var msg = {};\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nflow.set(\"sessionTimer\", 0);\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    hide : [\"Dashboard_manager\", \"Dashboard_Back\"],\n    show : [\"Dashboard_Manager\", \"Dashboard_Other_user\"]\n}\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 280,
        "wires": [
            [
                "328893ce.77710c",
                "980ab83b.856138"
            ]
        ]
    },
    {
        "id": "328893ce.77710c",
        "type": "debug",
        "z": "117ca329.326bdd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 280,
        "wires": []
    },
    {
        "id": "1232f6e4.9c49d9",
        "type": "function",
        "z": "117ca329.326bdd",
        "name": "",
        "func": "msg.payload = []\nmsg.topic = \"SELECT * FROM node_red.menu \"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 400,
        "wires": [
            [
                "fff3fd4a.1724b"
            ]
        ]
    },
    {
        "id": "4ca19397.fa221c",
        "type": "function",
        "z": "117ca329.326bdd",
        "name": "",
        "func": "var food = {payload:msg.topic};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "db3ba3c8.fc0b5",
        "type": "function",
        "z": "117ca329.326bdd",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 800,
        "wires": [
            [
                "9fa435c0.edf728"
            ]
        ]
    },
    {
        "id": "360592d3.c5f8de",
        "type": "function",
        "z": "117ca329.326bdd",
        "name": "",
        "func": "var q = {payload:msg.topic};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "232325f5.13024a",
        "type": "function",
        "z": "117ca329.326bdd",
        "name": "",
        "func": "msg.topic = \n\"USE node_red; INSERT INTO node_red.order (food_id, quantity) VALUES (\"+msg.payload[\"food \"]+\",\"+msg.payload[\"quality \"]+\");\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 520,
        "wires": [
            [
                "5b7f4084.9f8f"
            ]
        ]
    },
    {
        "id": "88a9dd53.d5428",
        "type": "debug",
        "z": "117ca329.326bdd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 520,
        "wires": []
    },
    {
        "id": "fff3fd4a.1724b",
        "type": "mysql",
        "z": "117ca329.326bdd",
        "mydb": "30a9b724.c9cd28",
        "name": "",
        "x": 510,
        "y": 400,
        "wires": [
            [
                "1680883a9525832b"
            ]
        ]
    },
    {
        "id": "9fa435c0.edf728",
        "type": "mysql",
        "z": "117ca329.326bdd",
        "mydb": "30a9b724.c9cd28",
        "name": "",
        "x": 530,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "5b7f4084.9f8f",
        "type": "mysql",
        "z": "117ca329.326bdd",
        "mydb": "30a9b724.c9cd28",
        "name": "",
        "x": 710,
        "y": 520,
        "wires": [
            [
                "88a9dd53.d5428"
            ]
        ]
    },
    {
        "id": "a4c0b6b8.657db8",
        "type": "ui_button",
        "z": "117ca329.326bdd",
        "name": "",
        "group": "33806353.13c2dc",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Back",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "516d6abb.2077d4"
            ]
        ]
    },
    {
        "id": "f3263350.3783f",
        "type": "ui_button",
        "z": "117ca329.326bdd",
        "name": "",
        "group": "c35e46a8.b04ce8",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ckeak menu",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 400,
        "wires": [
            [
                "1232f6e4.9c49d9"
            ]
        ]
    },
    {
        "id": "f4f33d4d.36cc1",
        "type": "ui_button",
        "z": "117ca329.326bdd",
        "name": "",
        "group": "e3858509.413208",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "cashier",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 560,
        "wires": [
            [
                "c1b525e9.108668",
                "aa781722.603e18"
            ]
        ]
    },
    {
        "id": "73f18c9b.69c964",
        "type": "ui_button",
        "z": "117ca329.326bdd",
        "name": "",
        "group": "e3858509.413208",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "chef",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 800,
        "wires": [
            [
                "db3ba3c8.fc0b5"
            ]
        ]
    },
    {
        "id": "cb560b6d.c5d3e8",
        "type": "ui_button",
        "z": "117ca329.326bdd",
        "name": "",
        "group": "73c25903.024a68",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "next",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic3",
        "topicType": "msg",
        "x": 350,
        "y": 640,
        "wires": [
            [
                "69d451631ad7a2c8"
            ]
        ]
    },
    {
        "id": "c1b525e9.108668",
        "type": "ui_dropdown",
        "z": "117ca329.326bdd",
        "name": "",
        "label": "food",
        "tooltip": "",
        "place": "Select option",
        "group": "73c25903.024a68",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "01",
                "value": "1",
                "type": "str"
            },
            {
                "label": "02",
                "value": "2",
                "type": "str"
            },
            {
                "label": "03",
                "value": "3",
                "type": "str"
            },
            {
                "label": "04",
                "value": "4",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic1",
        "topicType": "msg",
        "x": 310,
        "y": 520,
        "wires": [
            [
                "69d451631ad7a2c8"
            ]
        ]
    },
    {
        "id": "aa781722.603e18",
        "type": "ui_slider",
        "z": "117ca329.326bdd",
        "name": "quantity",
        "label": "quantity",
        "tooltip": "",
        "group": "73c25903.024a68",
        "order": 0,
        "width": "5",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "topic2",
        "topicType": "msg",
        "min": "1",
        "max": "10",
        "step": 1,
        "x": 320,
        "y": 580,
        "wires": [
            [
                "545ee27f.d36bdc",
                "69d451631ad7a2c8"
            ]
        ]
    },
    {
        "id": "90f02b8e.9c1b28",
        "type": "ui_form",
        "z": "117ca329.326bdd",
        "name": "Dashboard Sign-In",
        "label": "",
        "group": "b82da486.9fc8d8",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "password": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "e1d5321.beb0ed",
                "8b7bec2a.2a6e4",
                "85316f9b.4319b"
            ]
        ]
    },
    {
        "id": "545ee27f.d36bdc",
        "type": "ui_text",
        "z": "117ca329.326bdd",
        "group": "73c25903.024a68",
        "order": 3,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 490,
        "y": 620,
        "wires": []
    },
    {
        "id": "3be7cb4d.7d4a94",
        "type": "ui_toast",
        "z": "117ca329.326bdd",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Authentication Failed",
        "name": "Authentication Failure Dialog",
        "x": 1020,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "be638468.197868",
        "type": "ui_ui_control",
        "z": "117ca329.326bdd",
        "name": "Go to Sensor/History Group",
        "x": 1020,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "980ab83b.856138",
        "type": "ui_ui_control",
        "z": "117ca329.326bdd",
        "name": "Go to Signin Group",
        "x": 450,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "212ff49201926e35",
        "type": "mysql",
        "z": "117ca329.326bdd",
        "mydb": "dd7f8960b623cd02",
        "name": "",
        "x": 660,
        "y": 940,
        "wires": [
            [
                "92471c38cd6c96f9"
            ]
        ]
    },
    {
        "id": "92471c38cd6c96f9",
        "type": "debug",
        "z": "117ca329.326bdd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 920,
        "wires": []
    },
    {
        "id": "efd83ba592035e4f",
        "type": "ui_form",
        "z": "117ca329.326bdd",
        "name": "",
        "label": "add menu",
        "group": "c35e46a8.b04ce8",
        "order": 21,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "food_id",
                "value": "food_id",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "food",
                "value": "food",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "cost",
                "value": "cost",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "food_id": "",
            "food": "",
            "cost": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 200,
        "y": 920,
        "wires": [
            [
                "a52c75096dfa3121"
            ]
        ]
    },
    {
        "id": "a52c75096dfa3121",
        "type": "function",
        "z": "117ca329.326bdd",
        "name": "",
        "func": "msg.topic = \n\"use node_red; INSERT INTO node_red.menu (food_id, food, cost) VALUES (\"+msg.payload[\"food_id\"]+\", \"+msg.payload[\"food\"]+\", \"+msg.payload[\"cost\"]+\");\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 920,
        "wires": [
            [
                "212ff49201926e35",
                "82d2705e8ae9c5f3"
            ]
        ]
    },
    {
        "id": "1680883a9525832b",
        "type": "ui_table",
        "z": "117ca329.326bdd",
        "group": "c35e46a8.b04ce8",
        "name": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 740,
        "y": 340,
        "wires": []
    },
    {
        "id": "82d2705e8ae9c5f3",
        "type": "debug",
        "z": "117ca329.326bdd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 840,
        "wires": []
    },
    {
        "id": "69d451631ad7a2c8",
        "type": "join",
        "z": "117ca329.326bdd",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 830,
        "y": 640,
        "wires": [
            [
                "232325f5.13024a"
            ]
        ]
    },
    {
        "id": "30a9b724.c9cd28",
        "type": "MySQLdatabase",
        "name": "node_red",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "node_red",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "33806353.13c2dc",
        "type": "ui_group",
        "name": "Back",
        "tab": "d65502b1.ee517",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c35e46a8.b04ce8",
        "type": "ui_group",
        "name": "manager",
        "tab": "d65502b1.ee517",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e3858509.413208",
        "type": "ui_group",
        "name": "Other_user",
        "tab": "d65502b1.ee517",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "73c25903.024a68",
        "type": "ui_group",
        "name": "cashier",
        "tab": "d65502b1.ee517",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b82da486.9fc8d8",
        "type": "ui_group",
        "name": "Manager",
        "tab": "d65502b1.ee517",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dd7f8960b623cd02",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "node_red",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "d65502b1.ee517",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1
    }
]
