nodered
[{"id":"365b3613.f7c81a","type":"tab","label":"Order/Check order ","disabled":false,"info":""},{"id":"2c96ff34.25a5a","type":"ui_form","z":"365b3613.f7c81a","name":"","label":"Check(book)","group":"931dd7d9.22ab58","order":3,"width":0,"height":0,"options":[{"label":"boook numer","value":"boook numer","type":"number","required":true,"rows":null}],"formValue":{"boook numer":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":290,"y":100,"wires":[["d4ffff09.4c936"]]},{"id":"7cf9e1a6.9a8f7","type":"mysql","z":"365b3613.f7c81a","mydb":"30a9b724.c9cd28","name":"","x":580,"y":80,"wires":[["bd54de2a.e7d48","cf64a54d.cffc78","1f0906b6.f73749"]]},{"id":"d4ffff09.4c936","type":"function","z":"365b3613.f7c81a","name":"","func":"msg.topic = \n\"USE node_red; SELECT * FROM book WHERE book number = \"+msg.payload.O_ID +\";\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":100,"wires":[["7cf9e1a6.9a8f7"]]},{"id":"bd54de2a.e7d48","type":"debug","z":"365b3613.f7c81a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":200,"wires":[]},{"id":"cf64a54d.cffc78","type":"ui_text","z":"365b3613.f7c81a","group":"931dd7d9.22ab58","order":2,"width":0,"height":0,"name":"","label":"book number","format":"{{msg.payload[1][0].Order_ID}}","layout":"row-center","x":870,"y":120,"wires":[]},{"id":"8b66a1f3.2260d","type":"ui_table","z":"365b3613.f7c81a","group":"931dd7d9.22ab58","name":"","order":1,"width":"6","height":"2","columns":[],"outputs":1,"cts":true,"x":950,"y":40,"wires":[[]]},{"id":"1f0906b6.f73749","type":"function","z":"365b3613.f7c81a","name":"","func":"msg.payload = msg.payload[1]\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":40,"wires":[["8b66a1f3.2260d"]]},{"id":"1ee65315.f4966d","type":"ui_form","z":"365b3613.f7c81a","name":"","label":" insert (book)","group":"31c44db.a429ab2","order":0,"width":0,"height":0,"options":[{"label":"name","value":"name","type":"text","required":true,"rows":null},{"label":"book number","value":"book number","type":"text","required":false,"rows":null},{"label":"on loan or no","value":"on loan or no","type":"text","required":false,"rows":null},{"label":"area","value":"area","type":"text","required":false,"rows":null}],"formValue":{"name":"","book number":"","on loan or no":"","area":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":270,"y":160,"wires":[["a76320cf.eb28e","de4c55bf.67b578"]]},{"id":"de4c55bf.67b578","type":"function","z":"365b3613.f7c81a","name":"","func":"msg.topic = \n\"USE node_red; INSERT INTO book ( name,book number,on loan or not,ar) VALUES (\"+msg.payload[\"name\"]+\",\"+msg.payload[\"book number\"]+\",\"+msg.payload[\"on loan or not\"]+\",\"+msg.payload[\"area\"]+\");\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":180,"wires":[["7cf9e1a6.9a8f7"]]},{"id":"a76320cf.eb28e","type":"debug","z":"365b3613.f7c81a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":280,"wires":[]},{"id":"320d9897.139518","type":"ui_text","z":"365b3613.f7c81a","group":"31c44db.a429ab2","order":1,"width":0,"height":0,"name":"","label":"Latest","format":"{{payload[1][0].Order_ID}}","layout":"row-center","x":840,"y":480,"wires":[]},{"id":"877e6e24.99bb1","type":"ui_button","z":"365b3613.f7c81a","name":"","group":"31c44db.a429ab2","order":2,"width":0,"height":0,"passthru":false,"label":"Check Latest ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":320,"wires":[["c0d526eb.8c4058"]]},{"id":"c0d526eb.8c4058","type":"function","z":"365b3613.f7c81a","name":"","func":"msg.topic = \n\"USE node_red; SELECT * FROM book ORDER BY book number DESC LIMIT 1;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":380,"wires":[["e261d34b.b30ef"]]},{"id":"e261d34b.b30ef","type":"mysql","z":"365b3613.f7c81a","mydb":"30a9b724.c9cd28","name":"","x":620,"y":340,"wires":[["320d9897.139518","61765c88.23fa24"]]},{"id":"61765c88.23fa24","type":"debug","z":"365b3613.f7c81a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":340,"wires":[]},{"id":"838a9201.b72e2","type":"ui_button","z":"365b3613.f7c81a","name":"","group":"83648dca.b0ab","order":3,"width":0,"height":0,"passthru":false,"label":"CREATE TABLE(librarian)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":190,"y":500,"wires":[["232dff84.7f52b"]]},{"id":"232dff84.7f52b","type":"function","z":"365b3613.f7c81a","name":"","func":"msg.topic=\n\"USE node_red CREATE librarian (salary INT, name INT, address INT,area INT;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":540,"wires":[["8f56a860.53d458"]]},{"id":"8f56a860.53d458","type":"mysql","z":"365b3613.f7c81a","mydb":"30a9b724.c9cd28","name":"","x":620,"y":600,"wires":[["64d43191.f98c7"]]},{"id":"64d43191.f98c7","type":"debug","z":"365b3613.f7c81a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":600,"wires":[]},{"id":"468aca02.47f864","type":"ui_form","z":"365b3613.f7c81a","name":"","label":"Update(book)","group":"19c30133.ad66bf","order":3,"width":0,"height":0,"options":[{"label":"book number","value":"book number","type":"text","required":true,"rows":null},{"label":"name","value":"name","type":"text","required":false,"rows":null},{"label":"on loan or not","value":"on loan or not","type":"text","required":false,"rows":null},{"label":"area","value":"area","type":"text","required":false,"rows":null}],"formValue":{"book number":"","name":"","on loan or not":"","area":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":315,"y":740,"wires":[["223dfb62.b20bc4"]],"l":false},{"id":"223dfb62.b20bc4","type":"function","z":"365b3613.f7c81a","name":"","func":"msg.topic = \n\"use node_red; UPDATE book SET name=\"+msg.payload[\"name\"]+\", book number=\"+msg.payload[\"book number\"]+\", on loan or not = \"+msg.payload[\"on loan or not\"]+\",area=\"+msg.payload[\"area\"]+\" WHERE Order_ID = \"+msg.payload.O_ID+ \";\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":780,"wires":[["e61dd309.55255"]]},{"id":"e61dd309.55255","type":"mysql","z":"365b3613.f7c81a","mydb":"30a9b724.c9cd28","name":"","x":600,"y":760,"wires":[["27638504.60180a"]]},{"id":"27638504.60180a","type":"debug","z":"365b3613.f7c81a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":780,"wires":[]},{"id":"ecda875b.e1b1e8","type":"ui_form","z":"365b3613.f7c81a","name":"","label":"Delete(book)","group":"da87d16a.8759b","order":3,"width":0,"height":0,"options":[{"label":"book","value":"O_ID","type":"number","required":true,"rows":null}],"formValue":{"O_ID":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":230,"y":900,"wires":[["156481ea.98a62e"]]},{"id":"156481ea.98a62e","type":"function","z":"365b3613.f7c81a","name":"","func":"msg.topic =\n\"use node_red; DELETE FROM contains WHERE book = \"+msg.payload.O_ID +\";\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":880,"wires":[["60e0b333.5cb1fc"]]},{"id":"60e0b333.5cb1fc","type":"mysql","z":"365b3613.f7c81a","mydb":"30a9b724.c9cd28","name":"","x":598.501220703125,"y":882.9484252929688,"wires":[["d3e2bd2d.8eabd"]]},{"id":"d3e2bd2d.8eabd","type":"debug","z":"365b3613.f7c81a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":808.501220703125,"y":982.9484252929688,"wires":[]},{"id":"25e7075e.8874e8","type":"ui_button","z":"365b3613.f7c81a","name":"","group":"83648dca.b0ab","order":3,"width":0,"height":0,"passthru":false,"label":"CREATE TABLE(book)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":1120,"wires":[["a5bdf06e.9d24e"]]},{"id":"a5bdf06e.9d24e","type":"function","z":"365b3613.f7c81a","name":"","func":"msg.topic=\n\"USE node_red; CREATE Table book (book ID INT NOT NULL AUTO_INCREMENT, name INT, on loan or not INT,areaINT,book_number INT PRIMARY KEY(book_number));\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1060,"wires":[["af8ed85f.f94ff8"]]},{"id":"af8ed85f.f94ff8","type":"mysql","z":"365b3613.f7c81a","mydb":"30a9b724.c9cd28","name":"","x":600,"y":1080,"wires":[["7c62a8ed.26a928"]]},{"id":"7c62a8ed.26a928","type":"debug","z":"365b3613.f7c81a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":1080,"wires":[]},{"id":"7aa481ad.a6387","type":"ui_form","z":"365b3613.f7c81a","name":"","label":"Check(librarian)","group":"931dd7d9.22ab58","order":3,"width":0,"height":0,"options":[{"label":"name","value":"O_ID","type":"number","required":true,"rows":null}],"formValue":{"O_ID":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":140,"y":1240,"wires":[["46a09b2b.3504d4"]]},{"id":"a939a1dc.98219","type":"mysql","z":"365b3613.f7c81a","mydb":"30a9b724.c9cd28","name":"","x":540,"y":1260,"wires":[["3e57aba4.5f7564","192732c4.87553d","6cbfab19.c094e4"]]},{"id":"46a09b2b.3504d4","type":"function","z":"365b3613.f7c81a","name":"","func":"msg.topic = \n\"USE node_red; SELECT * FROM librarian WHERE name = \"+msg.payload.O_ID +\";\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1280,"wires":[["a939a1dc.98219"]]},{"id":"3e57aba4.5f7564","type":"debug","z":"365b3613.f7c81a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":1380,"wires":[]},{"id":"192732c4.87553d","type":"ui_text","z":"365b3613.f7c81a","group":"931dd7d9.22ab58","order":2,"width":0,"height":0,"name":"","label":"name","format":"{{msg.payload[1][0].Order_ID}}","layout":"row-center","x":810,"y":1300,"wires":[]},{"id":"f90e43bd.04848","type":"ui_table","z":"365b3613.f7c81a","group":"931dd7d9.22ab58","name":"","order":1,"width":"6","height":"2","columns":[],"outputs":1,"cts":true,"x":910,"y":1220,"wires":[[]]},{"id":"6cbfab19.c094e4","type":"function","z":"365b3613.f7c81a","name":"","func":"msg.payload = msg.payload[1]\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":1220,"wires":[["f90e43bd.04848"]]},{"id":"45c82da1.ad5754","type":"ui_form","z":"365b3613.f7c81a","name":"","label":"Insert(librarian0","group":"31c44db.a429ab2","order":0,"width":0,"height":0,"options":[{"label":"name","value":"name","type":"number","required":true,"rows":null},{"label":"address","value":"address","type":"text","required":false,"rows":null},{"label":"salary","value":"salary","type":"number","required":false,"rows":null},{"label":"HKID","value":"HKID","type":"text","required":true,"rows":null}],"formValue":{"name":"","address":"","salary":"","HKID":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":240,"y":1340,"wires":[["273ab664.26921a","535476f4.f47548"]]},{"id":"535476f4.f47548","type":"function","z":"365b3613.f7c81a","name":"","func":"msg.topic = \n\"USE node_red; INSERT INTO librarian (name,address,salary,HKID,area) VALUES (\"+msg.payload[\"name\"]+\",\"+msg.payload[\"address\"]+\",\"+msg.payload[\"salary\"]+\",\"+msg.payload[\"address\"]+\",\"+msg.payload[\"area\"]+\");\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1360,"wires":[["a939a1dc.98219"]]},{"id":"273ab664.26921a","type":"debug","z":"365b3613.f7c81a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":1460,"wires":[]},{"id":"94822b2.7def5d8","type":"ui_form","z":"365b3613.f7c81a","name":"","label":"Delete(librarian)","group":"da87d16a.8759b","order":3,"width":0,"height":0,"options":[{"label":"librarian","value":"O_ID","type":"number","required":true,"rows":null}],"formValue":{"O_ID":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":240,"y":960,"wires":[["16f534c1.01335b"]]},{"id":"16f534c1.01335b","type":"function","z":"365b3613.f7c81a","name":"","func":"msg.topic =\n\"use node_red; DELETE FROM contains WHERE librarian = \"+msg.payload.O_ID +\";\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":940,"wires":[["14cf5a17.cfb816"]]},{"id":"14cf5a17.cfb816","type":"mysql","z":"365b3613.f7c81a","mydb":"30a9b724.c9cd28","name":"","x":598.501220703125,"y":942.9484252929688,"wires":[["608360c6.119ab"]]},{"id":"608360c6.119ab","type":"debug","z":"365b3613.f7c81a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":808.501220703125,"y":1042.9484252929688,"wires":[]},{"id":"d9dc1f96.260e8","type":"ui_form","z":"365b3613.f7c81a","name":"","label":"Update(librarian)","group":"19c30133.ad66bf","order":3,"width":0,"height":0,"options":[{"label":"name","value":"name","type":"text","required":true,"rows":null},{"label":"address","value":"address","type":"text","required":false,"rows":null},{"label":"salary","value":"salary","type":"text","required":false,"rows":null},{"label":"HKID","value":"HKID","type":"text","required":false,"rows":null},{"label":"area","value":"area","type":"text","required":false,"rows":null}],"formValue":{"name":"","address":"","salary":"","HKID":"","area":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":335,"y":660,"wires":[["7ca89831.f7f6b8"]],"l":false},{"id":"7ca89831.f7f6b8","type":"function","z":"365b3613.f7c81a","name":"","func":"msg.topic = \n\"use node_red; UPDATE librarian SET name=\"+msg.payload[\"name\"]+\", address=\"+msg.payload[\"address\"]+\", salary = \"+msg.payload[\"salary\"]+\",area=\"+msg.payload[\"area\"]+\" WHERE Order_ID = \"+msg.payload.O_ID+ \";\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":700,"wires":[["e114bc88.dfbe5"]]},{"id":"e114bc88.dfbe5","type":"mysql","z":"365b3613.f7c81a","mydb":"30a9b724.c9cd28","name":"","x":620,"y":680,"wires":[["916d4c1a.10df3"]]},{"id":"916d4c1a.10df3","type":"debug","z":"365b3613.f7c81a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":700,"wires":[]},{"id":"931dd7d9.22ab58","type":"ui_group","name":"Check ","tab":"6db532b6.50bdac","order":8,"disp":true,"width":"6","collapse":true},{"id":"30a9b724.c9cd28","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"node_red","tz":"","charset":"UTF8"},{"id":"31c44db.a429ab2","type":"ui_group","name":"insert","tab":"6db532b6.50bdac","order":5,"disp":true,"width":"6","collapse":true},{"id":"83648dca.b0ab","type":"ui_group","name":"Create Table Group","tab":"6db532b6.50bdac","order":6,"disp":true,"width":"6","collapse":false},{"id":"19c30133.ad66bf","type":"ui_group","name":"Update","tab":"6db532b6.50bdac","order":2,"disp":true,"width":"6","collapse":false},{"id":"da87d16a.8759b","type":"ui_group","name":"Delete","tab":"6db532b6.50bdac","order":4,"disp":true,"width":"6","collapse":false},{"id":"6db532b6.50bdac","type":"ui_tab","name":"Admin_Home","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
