Ok
[{"id":"c92073e5.a3296","type":"tab","label":"Order/Check order ","disabled":false,"info":""},{"id":"fb7a9f6d.6e884","type":"ui_form","z":"c92073e5.a3296","name":"","label":"","group":"931dd7d9.22ab58","order":0,"width":0,"height":0,"options":[{"label":"Order ID","value":"O_ID","type":"number","required":true,"rows":null}],"formValue":{"O_ID":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":250,"y":80,"wires":[["d413f6f8.420ee8"]]},{"id":"771edd08.1e8864","type":"mysql","z":"c92073e5.a3296","mydb":"30a9b724.c9cd28","name":"","x":620,"y":100,"wires":[["1d269483.e5e5fb","723aa380.24f9fc","944202f9.edd1d"]]},{"id":"d413f6f8.420ee8","type":"function","z":"c92073e5.a3296","name":"","func":"msg.topic = \n\"USE node_red; SELECT * FROM node_red.contains WHERE Order_ID = \"+msg.payload.O_ID +\";\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":100,"wires":[["771edd08.1e8864"]]},{"id":"1d269483.e5e5fb","type":"debug","z":"c92073e5.a3296","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":200,"wires":[]},{"id":"723aa380.24f9fc","type":"ui_text","z":"c92073e5.a3296","group":"931dd7d9.22ab58","order":1,"width":0,"height":0,"name":"","label":"Order_ID","format":"{{msg.payload[1][0].Order_ID}}","layout":"row-center","x":830,"y":120,"wires":[]},{"id":"4e5d4668.f53298","type":"ui_table","z":"c92073e5.a3296","group":"931dd7d9.22ab58","name":"","order":2,"width":"6","height":"2","columns":[],"outputs":1,"cts":true,"x":950,"y":40,"wires":[[]]},{"id":"944202f9.edd1d","type":"function","z":"c92073e5.a3296","name":"","func":"msg.payload = msg.payload[1]\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":40,"wires":[["4e5d4668.f53298"]]},{"id":"948e2a83.7dfb58","type":"ui_form","z":"c92073e5.a3296","name":"","label":"Insert Order","group":"31c44db.a429ab2","order":0,"width":0,"height":0,"options":[{"label":"Order Item 1","value":"Order Item1","type":"number","required":true,"rows":null},{"label":"Order Item 2","value":"Order Item2","type":"number","required":false,"rows":null},{"label":"Order Item 3","value":"Order Item3","type":"number","required":false,"rows":null}],"formValue":{"Order Item1":"","Order Item2":"","Order Item3":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":190,"y":140,"wires":[["2792d889.9e2c98","8312f3b2.dd76b"]]},{"id":"8312f3b2.dd76b","type":"function","z":"c92073e5.a3296","name":"","func":"msg.topic = \n\"USE node_red; INSERT INTO node_red.contains (Ordered_item1, Ordered_item2, Ordered_item3) VALUES (\"+msg.payload[\"Order Item1\"]+\",\"+msg.payload[\"Order Item2\"]+\",\"+msg.payload[\"Order Item3\"]+\");\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":160,"wires":[["771edd08.1e8864"]]},{"id":"2792d889.9e2c98","type":"debug","z":"c92073e5.a3296","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":280,"wires":[]},{"id":"70507ed2.542d2","type":"ui_text","z":"c92073e5.a3296","group":"31c44db.a429ab2","order":1,"width":0,"height":0,"name":"","label":"Latest_Order","format":"{{payload[1][0].Order_ID}}","layout":"row-center","x":860,"y":480,"wires":[]},{"id":"dea83e23.5228e","type":"ui_button","z":"c92073e5.a3296","name":"","group":"31c44db.a429ab2","order":2,"width":0,"height":0,"passthru":false,"label":"Check Latest Order","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":320,"wires":[["c14d5785.440158"]]},{"id":"c14d5785.440158","type":"function","z":"c92073e5.a3296","name":"","func":"msg.topic = \n\"USE node_red; SELECT * FROM node_red.contains ORDER BY Order_ID DESC LIMIT 1;\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":340,"wires":[["eec04368.c52ef"]]},{"id":"eec04368.c52ef","type":"mysql","z":"c92073e5.a3296","mydb":"30a9b724.c9cd28","name":"","x":620,"y":340,"wires":[["70507ed2.542d2","ed6d4562.092258"]]},{"id":"ed6d4562.092258","type":"debug","z":"c92073e5.a3296","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":340,"wires":[]},{"id":"4d9e665b.e8e738","type":"ui_button","z":"c92073e5.a3296","name":"","group":"8f3c05f0.a5d398","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":460,"wires":[["52ee7aca.9f8db4"]]},{"id":"301efc9d.819f64","type":"mysql","z":"c92073e5.a3296","mydb":"30a9b724.c9cd28","name":"","x":420,"y":460,"wires":[["3d64947e.06c30c","6379e4dc.a39b2c"]]},{"id":"3d64947e.06c30c","type":"debug","z":"c92073e5.a3296","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":420,"wires":[]},{"id":"6379e4dc.a39b2c","type":"ui_text","z":"c92073e5.a3296","group":"8f3c05f0.a5d398","order":1,"width":0,"height":0,"name":"","label":"create table","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":480,"wires":[]},{"id":"52ee7aca.9f8db4","type":"function","z":"c92073e5.a3296","name":"","func":"msg.topic = \n\"USE node_red; INSERT INTO node_red.contains (Ordered_item1, Ordered_item2, Ordered_item3) VALUES (\"+msg.payload[\"Order Item1\"]+\",\"+msg.payload[\"Order Item2\"]+\",\"+msg.payload[\"Order Item3\"]+\");\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":460,"wires":[["301efc9d.819f64"]]},{"id":"63b468f0.f02a88","type":"function","z":"c92073e5.a3296","name":"","func":"msg.topic = \n\"use node_red; DELETE FROM contains WHERE Order_ID = \"+msg.payload.O_ID +\";\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":540,"wires":[["ea2f22a6.a0c6d"]]},{"id":"ea2f22a6.a0c6d","type":"mysql","z":"c92073e5.a3296","mydb":"30a9b724.c9cd28","name":"","x":460,"y":540,"wires":[["af233bc0.3847b8"]]},{"id":"af233bc0.3847b8","type":"debug","z":"c92073e5.a3296","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":600,"wires":[]},{"id":"a6f2e61f.b0d148","type":"ui_form","z":"c92073e5.a3296","name":"","label":"","group":"f089ff4a.43025","order":0,"width":0,"height":0,"options":[{"label":"Order ID","value":"O_ID","type":"number","required":true,"rows":null}],"formValue":{"O_ID":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":150,"y":540,"wires":[["63b468f0.f02a88"]]},{"id":"2809b983.cdf906","type":"function","z":"c92073e5.a3296","name":"","func":"msg.topic = \n\"use node_red; UPDATE contains SET Ordered_item1=\"+msg.payload[\"Order Item1\"]+\", Ordered_item2=\"+msg.payload[\"Order Item2\"]+\", Ordered_item3 = \"+msg.payload[\"Order Item3\"]+\" WHERE Order_ID = \"+msg.payload.O_ID+ \";\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":640,"wires":[["91f9d5aa.e30128"]]},{"id":"91f9d5aa.e30128","type":"mysql","z":"c92073e5.a3296","mydb":"30a9b724.c9cd28","name":"","x":420,"y":640,"wires":[["5eb2336c.2960cc"]]},{"id":"5eb2336c.2960cc","type":"debug","z":"c92073e5.a3296","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":660,"wires":[]},{"id":"9043e556.e61fe8","type":"ui_form","z":"c92073e5.a3296","name":"","label":"","group":"b3a82408.7dd5e8","order":1,"width":0,"height":0,"options":[{"label":"Order ID","value":"O_ID","type":"text","required":true,"rows":null},{"label":"Order Item 1","value":"Order Item1","type":"text","required":false,"rows":null},{"label":"Order Item 2","value":"Order Item2","type":"text","required":false,"rows":null},{"label":"Order Item 3","value":"Order Item3","type":"text","required":false,"rows":null}],"formValue":{"O_ID":"","Order Item1":"","Order Item2":"","Order Item3":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":110,"y":640,"wires":[["2809b983.cdf906"]]},{"id":"5b9614fc.5adcfc","type":"link in","z":"c92073e5.a3296","name":"Reset","links":[],"x":55,"y":780,"wires":[[]]},{"id":"a02a8dfb.e563f","type":"comment","z":"c92073e5.a3296","name":"log in","info":"","x":180,"y":740,"wires":[]},{"id":"931dd7d9.22ab58","type":"ui_group","z":"c92073e5.a3296","name":"Check Order Form","tab":"6db532b6.50bdac","order":1,"disp":true,"width":"6","collapse":true},{"id":"30a9b724.c9cd28","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"node_red","tz":"","charset":"UTF8"},{"id":"31c44db.a429ab2","type":"ui_group","z":"c92073e5.a3296","name":"Place Order Form","tab":"6db532b6.50bdac","order":2,"disp":true,"width":"6","collapse":true},{"id":"8f3c05f0.a5d398","type":"ui_group","name":"create table","tab":"6db532b6.50bdac","order":3,"disp":true,"width":"6","collapse":false},{"id":"f089ff4a.43025","type":"ui_group","name":"delete","tab":"6db532b6.50bdac","order":4,"disp":true,"width":"6","collapse":false},{"id":"b3a82408.7dd5e8","type":"ui_group","name":"change","tab":"6db532b6.50bdac","order":5,"disp":true,"width":"6","collapse":false},{"id":"6db532b6.50bdac","type":"ui_tab","name":"Admin_Home","icon":"dashboard","disabled":false,"hidden":false}]
